.edit__dropdown {
  display: none;
  position: absolute;
  padding: 16px;
  background: $color-white;
  border-radius: 8px;
}

.edit__dropdown--open {
  display: block;
}

.board__dropdown {
  top: 60px;
  right: 24px;
}

.task__dropdown {
  right: 0;
}

.edit__button__edit,
.edit__button__delete {
  @extend %body-l;

  width: 160px;
  justify-content: flex-start;
}

.edit__button__edit {
  margin-bottom: 16px;
  color: $color-medium-gray;
}

.edit__button__delete {
  color: $color-red;
}
