.edit__dropdown {
  display: none;
  z-index: 120;
  position: absolute;
  padding: 16px;
  background: $color-secondary-bg;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
}

.edit__dropdown--open {
  display: block;
}

.board__dropdown {
  top: 60px;
  right: 24px;

  @include tabletScreen {
    top: 90px;
  }
}

.task__dropdown {
  right: 0;
  top: 40px;
}

.edit__button__edit,
.edit__button__delete {
  @extend %body-l;

  width: 160px;
  justify-content: flex-start;
}

.edit__button__edit {
  margin-bottom: 16px;
  color: $color-medium-gray;
}

.edit__button__delete {
  color: $color-red;
}
