.empty {
  height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  padding: 0 24px;

  @include tabletScreen {
    height: calc(100vh - 96px);
  }
}

.empty__title {
  @extend %heading-l;

  color: $color-medium-gray;
  text-align: center;
}

.empty__button {
  @extend %button-primary-l;

  padding: 16px;
}
