.input__text__control {
  margin-bottom: 24px;
}

.input__array__container {
  margin-bottom: 24px;
}

.input__array__fields {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.input__array__control {
  display: flex;
  gap: 16px;
}

.input__textarea__control {
  margin-bottom: 24px;
}

.input__dropdown__control {
  margin-bottom: 24px;
}

.input__dropdown {
  position: relative;
}

.input__dropdown--open {
  .input__dropdown__button {
    border: 1px solid $color-purple;
  }

  .input__dropdown__content {
    display: block;
  }
}

.input__dropdown__button {
  @extend %body-l;

  padding: 8px 16px;
  width: calc(100% - 32px);
  background: #ffffff;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  justify-content: space-between;
  color: $color-black;
}

.input__dropdown__content {
  display: none;
  position: absolute;
  top: 57px;
  background-color: $color-white;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
}

.dropdown__content__item {
  @extend %body-l;

  margin-bottom: 16px;
  cursor: pointer;
  color: $color-medium-gray;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    color: $color-dark-grey;
  }
}

.input__checkbox__container {
  margin-bottom: 24px;
}

.input__checkbox__list {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input__checkbox__control {
  padding: 16px 8px;
  background: $color-light-gray;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.input__label {
  @extend %body-m;

  display: block;
  color: $color-medium-gray;
  font-weight: 700;
  margin-bottom: 8px;
}

.input__text {
  @extend %body-l;

  padding: 8px 16px;
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(130, 143, 163, 0.25);
  border-radius: 4px;
  color: $color-black;

  &::placeholder {
    @extend %body-l;

    color: rgba(0, 1, 18, 0.25);
  }

  &.error {
    border: 1px solid $color-red;
  }
}

.input__textarea {
  min-height: 112px;
  max-height: 112px;
  resize: none;
}

.input__array__delete {
  border-radius: 0;
  padding: 8px;
}

.input__checkbox {
}

.input__checkbox__label {
  @extend %body-m;

  font-weight: 700;
  color: $color-black;
}

.input__checkbox__label--disabled {
  opacity: 0.5;
  text-decoration: line-through;
}

input[type='checkbox'] {
  appearance: none;
  margin: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
  background: #fff;
  border: 1px solid rgba(130, 143, 163, 0.25);

  display: grid;
  place-content: center;
  transition: background 0.4s ease-in-out;
  cursor: pointer;
}

input[type='checkbox']::before {
  content: '';
  width: 10px;
  height: 8px;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
  background: #fff;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type='checkbox']:checked::before {
  transform: scale(1);
}
input[type='checkbox']:checked {
  background: $color-purple;
}
