.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal--open {
  display: flex;
}

.modal__container {
  background: $color-white;
  padding: 24px;
  border-radius: 6px;
  width: 100%;
  margin: 0 16px;
  cursor: auto;
}

.modal__header {
  margin-bottom: 24px;
}

.modal__header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__header__title {
  @extend %heading-l;
}

.modal__header__title--delete {
  color: $color-red;
}

.modal__text {
  @extend %body-l;

  color: $color-medium-gray;
  margin-bottom: 24px;
}

.modal__button__primary__s {
  @extend %button-primary-s;

  width: 100%;
}

.modal__button__secondary {
  @extend %button-secondary;

  width: 100%;
}

.modal__button__delete {
  @extend %button-delete;

  width: 100%;
  margin-bottom: 24px;
}
