.navbar {
  background: $color-secondary-bg;
  max-height: 64px;

  @include tabletScreen {
    max-height: 96px;
    border-bottom: 1px solid $color-light-lines;
  }
}

.navbar__wrapper {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  width: 100vw;

  @include tabletScreen {
    width: calc(100vw - 260px);
    padding: 20px 24px;
  }

  @include desktopScreen {
    width: calc(100vw - 300px);
    padding: 10px 20px;
  }
}

.navbar__wrapper--full {
  width: 100vw;
}

.navbar__container {
  display: flex;
  align-items: center;
  gap: 16px;

  @include tabletScreen {
    gap: 24px;
  }
}

.navbar__logo {
  display: block;

  @include tabletScreen {
    margin-right: 24px;

    &--hide {
      display: none;
    }
  }
}

.kanban__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.kanban__logo__title {
  @extend %heading-xl;

  color: $color-headings;
  margin-bottom: 3px;
  display: none;

  @include tabletScreen {
    display: block;
  }
}

.navbar__title {
  @extend %heading-xl;

  color: $color-headings;
  display: none;

  @include tabletScreen {
    display: block;
  }
}

.navbar__dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  @include tabletScreen {
    display: none;
  }
}

.navbar__dropdown--hide {
  display: none;
}

.navbar__dropdown__title {
  @extend %heading-l;

  color: $color-headings;
}

.navbar__add__button {
  @extend %button-primary-l;

  padding: 0;
  width: 48px;
  height: 32px;
  z-index: 2;

  &:disabled {
    background: $color-light-purple;
    cursor: not-allowed;
  }

  @include tabletScreen {
    width: 100%;
    height: auto;
    padding: 16px 24px;
  }
}

.navbar__add__icon {
  display: block;

  @include tabletScreen {
    display: none;
  }
}

.navbar__add__text {
  display: none;

  @include tabletScreen {
    display: block;
  }
}
