.register {
  border: 1px solid red;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.register__form {
  background: $color-white;
  padding: 24px;
  width: 100%;
  max-width: 480px;
  border-radius: 6px;

  @include tabletScreen {
    padding: 32px;
  }
}

.register__form__title {
  @extend %heading-xl;

  margin-bottom: 32px;
}

.register__form__button {
  @extend %button-primary-s;

  width: 100%;
  margin-bottom: 24px;
}

.register__form__toggle {
  @extend %heading-m;

  color: $color-medium-gray;
}

.register__form__toggle__button {
  color: $color-purple;
  cursor: pointer;

  &:hover {
    color: $color-light-purple;
  }
}
