$color-purple: #635fc7;
$color-light-purple: #8aa4ff;
$color-red: #ea5555;
$color-light-red: #ff9898;
$color-very-dark-grey: #20212c;
$color-dark-grey: #2b2c37;
$color-medium-gray: #828fa3;
$color-light-gray: #f4f7fd;
$color-dark-lines: #3e3f4e;
$color-light-lines: #e4ebfa;
$color-black: #000112;
$color-white: #ffffff;

$font-jakarta: 'Plus Jakarta Sans';
