@import './base/reset';

@import './utils/mixins';
@import './utils/variables';
@import './utils/bodys';
@import './utils/headings';
@import './utils/buttons';

@import './base/base';
@import './base/fonts';

@import './layout/navbar';
@import './layout/modal';
@import './layout/board_modal';
@import './layout/dropdown';
@import './layout/empty';
@import './layout/inputs';
@import './layout/sidebar';
@import './layout/nprogress';

@import './pages/board/board';
@import './pages/register/register';
